# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[workspace]
resolver = "2"
members = [
  "crates/*",
]

[workspace.package]
edition = "2021"
license = "MIT"
publish = true
