name: release
permissions:
  pull-requests: write
  contents: write
on:
  push:
    branches: [main]
    paths: ['Cargo.toml', 'crates/**', '.github/workflows/release.yml']

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          # release-plz can create release notes and update changelogs based on (conventional) commits. But only if all the history is fetched
          fetch-depth: 0
      - name: Install rust toolchain
        uses: dtolnay/rust-toolchain@stable
      - name: Run release-plz
        id: release-plz
        uses: MarcoIeni/release-plz-action@v0.5
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          CARGO_REGISTRY_TOKEN: ${{ secrets.CARGO_REGISTRY_TOKEN }}

      - uses: fregante/setup-git-user@v2.0.1
        if: steps.release-plz.outputs.prs_created == 'true'
      - name: install dprint
        if: steps.release-plz.outputs.prs_created == 'true'
        run: curl -fsSL https://dprint.dev/install.sh | sh -s 0.47.2 > /dev/null 2>&1

      - name: fmt
        if: steps.release-plz.outputs.prs_created == 'true'
        run: |
          pr_branch="${{ fromJSON(steps.release-plz.outputs.pr).head_branch }}"
          git pull
          git checkout "$pr_branch"
          $HOME/.dprint/bin/dprint fmt
          git commit -am 'chore: format files'
          git push origin "$pr_branch"
